COMPOSE_PROFILES=llc2160,nex-gddp-cmip6,nsdf-somospie
OPENVISUSPY_REF=test_region_extraction
DASHBOARD_PLATFORM=linux/amd64
DASHBOARD_BIND_ADDRESS=127.0.0.1
DASHBOARD_PORT=11957
BOKEH_ALLOW_WS_ORIGIN=*
# LLC2160 dataset: JSON, IDX path, or URL.
LLC2160_DATASET=json/nasa.json
NEX_GDDP_CMIP6_REF=main
NEX_GDDP_CMIP6_BIND_ADDRESS=127.0.0.1
NEX_GDDP_CMIP6_PORT=12347
NEX_GDDP_CMIP6_DATASET=https://atlantis.sci.utah.edu/mod_visus?dataset=nex-gddp-cmip6
SOMOSPIE_BIND_ADDRESS=127.0.0.1
SOMOSPIE_PORT=11657
SOMOSPIE_REF=nsdf-ahm
SOMOSPIE_DATASET='https://s3.us-east-1.wasabisys.com/scientistcloud/utk/nsdf_somospie/conus_30m_terrain/CONUS_30m_Terrain_Parameters.idx?access_key=REPLACE_WITH_ACCESS_KEY&secret_key=REPLACE_WITH_SECRET_KEY&endpoint_url=https://s3.us-east-1.wasabisys.com&cached=arco'